<div dir="rtl">
    {% if email %}
    <a href="#0">{{ email }}</a>
    <a href="{% url 'mytlogin:logout' %}">登出</a>
    {% else %}
    <a href="{% url 'mytlogin:signin' %}">登录</a>
    <a href="{% url 'mytlogin:signup' %}">注册</a>
        {% endif %}
    </div>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
